.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}




.botaomenufilho {
width: auto;
height: 4vh;
background-color: transparent;
border: none;
cursor: pointer;
}




.container1 ::-webkit-input-placeholder {
    color: #000;
    font-size: 2.4vh;
    font-weight: 600;
    line-height: 5.8vh;


}
/*teste git*/

.cxdepesquisa {
    width: 43vw;
    height: 5.8vh;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 5vh;
    border: #00000000;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    
    text-align: center;
    font-size: 2.4vh;
    line-height: 5.8vh;
}


.alinharbotao {
    position: relative;
    display: flex;
    cursor: pointer;

}


.buttonlupa {
    background: none;
  border: none;
  padding: 0;
  margin: 0;
    cursor: pointer;
}

.imglupa {
    width: auto;
    height: 3vh;
    position: absolute;
  right: 2vh; /* Posição em relação à caixa de texto */
  top: 50%; /* Alinhar verticalmente no centro */
  transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
  background:#D9D9D9;
  border: none;
  padding: 0;
  margin: 0;
}

.containerbtperfil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.botaoperfil {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: 6vh;
    cursor: pointer;

}

.botaoperfilimg { 
  width: auto;
  height: 6vh;
border-radius: 6vh;


}


.poscab {

    width: 100vw;
    height: 1.5vh;
    justify-content: center;
    display: flex;
    margin-top: 0.5vh;
    align-items: flex-start;
}

.botaolocal {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 1.3vh;
    line-height: 1.3vh;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.containeranuncio {
width: 100vw;
height: 20vh;
display: flex;
justify-content: center;
margin-top: 0.5vh;
}

.anuncio {
    width: 80vw;
    height: 20vh;
    display: flex;
    border-radius: 2vh 0 2vh 0;
    background-color: #d9d9d9 ;
}

#janela-local {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.4vh);
    z-index: 9999;
}

#conteudo-janela-local {
position: relative;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 5vh;
  width: 60vw;
  height: 40vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  border-radius: 4vh;

}

.fechada {

    display: none;
}

#fechar-janela-local {
    height: 2vh;
    display: contents;
    cursor: pointer;

}

.botao-fechar-j-l {

    width: 2vh;
    height: auto;
    position: absolute;
    top: 2vh;
    right: 2vh;
}