.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.botaomenufilho {
background-color: transparent;
border: none;
cursor: pointer;
display: contents;
}

.imgabrirmenu{
    width: auto; 
    height: 4vh;
    top: 0.32vh; 
    position: relative;
}


.container1 ::-webkit-input-placeholder {
    color: #000;
    font-size: 2.4vh;
    font-weight: 600;
    line-height: 5.8vh;

}

.cxdepesquisa {
    width: 43vw;
    height: 5.8vh;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 5vh;
    border: #00000000;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    
    text-align: center;
    font-size: 2.4vh;
    line-height: 5.8vh;
}

.alinharbotao {
    position: relative;
    display: flex;
    cursor: pointer;
}

.buttonlupa {
    background: none;
  border: none;
  padding: 0;
  margin: 0;
    cursor: pointer;
}

.imglupa {
    width: auto;
    height: 3vh;
    position: absolute;
  right: 2vh; /* Posição em relação à caixa de texto */
  top: 50%; /* Alinhar verticalmente no centro */
  transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
  background:#D9D9D9;
  border: none;
  padding: 0;
  margin: 0;
}

.containerbtperfil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoperfil {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: 6vh;
    cursor: pointer;

}

.botaoperfilimg { 
  width: auto;
  height: 6vh;
border-radius: 6vh;
}

.poscab {

    height: 1.5vh;
    justify-content: center;
    display: flex;
    margin-top: 0.5vh;
    align-items: flex-start;
}

.botaolocal {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 1.3vh;
    line-height: 1.3vh;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.containeranuncio {
height: 20vh;
display: flex;
justify-content: center;
margin-top: 0.5vh;
}

.anuncio {
    width: 80vw;
    height: 20vh;
    display: flex;
    border-radius: 2vh 0 2vh 0;
    background-color: #d9d9d9 ;
}

#janela-local {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.4vh);
    z-index: 9999;
}

@keyframes fade-in {
    0% {opacity: o;}
    100% {opacity: 1;}
}


.aberta {
    opacity: 0;
    animation: fade-in 0.4s forwards;
}

.fechadapos {
    opacity: 1;
    animation: fade-out 0.4s forwards;
    pointer-events: none;
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#conteudo-janela-local {
position: relative;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 5vh;
  width: 60vw;
  height: 40vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  border-radius: 4vh;
}

.fechada {
    pointer-events: none;
    display: none;
}

#fechar-janela-local {
    height: 2vh;
    display: contents;
    cursor: pointer;
}

.botao-fechar-j-l {
    width: 2vh;
    height: auto;
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.barrafechada {
    pointer-events: none;
    display: none;
}

.barrafechadapos {
    animation: slide-out 0.4s forwards;
    pointer-events: none;
}

.divbarrafechadapos {
    pointer-events: none;
    animation: fade-out 0.4s forwards;
}

.divbarraaberta {
    opacity: 0;
    animation: fade-in 0.4s forwards;
}

.barraaberta {
    animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
    0% {left: -20%;}
    100% {left: 20%;}
}

@keyframes slide-out {
    0% {left: 20%;}
    100% {left: -20%;}
    }


#barra-de-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.2vh);
    z-index: 9999;
}

#conteudo-janela-menu {
    position: relative;
    top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      background-color: #d9d9d9dd;
      padding: 0.2vh;
      height: 100%;
      width: 40%;
      text-align: start;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2vh;
      border-radius: 0 4vh 0 0;
}






@media (max-width: 420px), (orientation: portrait) {

    .poscab {
        margin-top: 0.18vh;
    }

    .cxdepesquisa {
        width: 55vw;
        height: 5vh;
        flex-shrink: 0;
        padding-left: 4w;
        padding-right: 10vw;
        font-size: 2vh;
        line-height: 4.5vh;
        text-align: center;
        text-indent: 6vw;
    }  

    .container1 ::-webkit-input-placeholder {
        color: #000;
        font-size: 2vh;
        font-weight: 600;
        line-height: 4.5vh;
    
    }

    .imglupa {
        height: 2.4vh;
    }

    .anuncio {
        width: 94vw;
    }

    .imgabrirmenu {
        height: 3.6vh;
        top: 0vh;
    }

    .botaoperfilimg {

        height: 4.8vh;
    }
}


@media (max-width: 350px) {

    .cxdepesquisa {
        padding-left: 11vw;
        padding-right: 11vw;
        width: 40vw;
    }

    .botaoperfilimg {
        height: 5vh;
    }

    .botaoperfil {
        height: 5vh;
    }

    .imgabrirmenu {
        height: 3.5vh;
    }
}


@media (min-width: 900px) and (orientation: landscape) {

    .botaolocal {
        font-size: 1.6vh;
    }

}