.body-page-inicial {
    opacity: 0;
    animation: fade-in 0.4s forwards;
    margin: 0.8vh;
}


.blur-effect {
    filter: blur(0.2vh);
}

.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.botaomenufilho {
background-color: transparent;
border: none;
cursor: pointer;
display: contents;
}

.imgabrirmenu{
    width: auto; 
    height: 4vh;
    top: 0.32vh; 
    position: relative;
}


.container1 ::-webkit-input-placeholder {
    color: #000;
    font-size: 2.4vh;
    font-weight: 600;
    line-height: 5.8vh;

}

.cxdepesquisa {
    width: 43vw;
    height: 5.8vh;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 5vh;
    border: #00000000;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    
    text-align: center;
    font-size: 2.4vh;
    line-height: 5.8vh;
}

.alinharbotao {
    position: relative;
    display: flex;
    cursor: pointer;
}

.buttonlupa {
    background: none;
  border: none;
  padding: 0;
  margin: 0;
    cursor: pointer;
}

.imglupa {
    width: auto;
    height: 3vh;
    position: absolute;
  right: 2vh; /* Posição em relação à caixa de texto */
  top: 50%; /* Alinhar verticalmente no centro */
  transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
  background:#D9D9D9;
  border: none;
  padding: 0;
  margin: 0;
}

.containerbtperfil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoperfil {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: 6vh;
    cursor: pointer;

}

.botaoperfil2 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: 6vh;
    cursor: pointer;
    display: contents;

}

.botaoperfilimg { 
  width: auto;
  height: 6vh;
border-radius: 6vh;
}

.poscab {

    height: 1.5vh;
    justify-content: center;
    display: flex;
    margin-top: 0.5vh;
    align-items: flex-start;
}

.gpsicon {
    height: 1vh;
    width: auto;
}

.botaolocal {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 1.3vh;
    line-height: 1.3vh;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.containeranuncio {
height: 20vh;
display: flex;
justify-content: center;
margin-top: 0.5vh;
}

.anuncio {
    width: 80vw;
    height: 20vh;
    display: flex;
    border-radius: 2vh 2vh 2vh 2vh;
    background-color: #d9d9d9 ;
}

#janela-local {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.4vh);
    z-index: 9999;
}

@keyframes fade-in {
    0% {opacity: o;}
    100% {opacity: 1;}
}


.aberta {
    opacity: 0;
    animation: fade-in 0.4s forwards;
}

.fechadapos {
    opacity: 1;
    animation: fade-out 0.4s forwards;
    pointer-events: none;
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#conteudo-janela-local {
position: relative;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 5vh;
  width: 60vw;
  height: 40vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  border-radius: 4vh;
}

.fechada {
    pointer-events: none;
    display: none;
}

#fechar-janela-local {
    height: 2vh;
    display: contents;
    cursor: pointer;
}

.botao-fechar-j-l {
    width: 2vh;
    height: auto;
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.barrafechada {
    pointer-events: none;
    display: none;
}

.barrafechadapos {
    animation: slide-out 0.4s forwards;
    pointer-events: none;
}

.divbarrafechadapos {
    pointer-events: none;
    animation: fade-out 0.4s forwards;
}

.divbarraaberta {
    opacity: 0;
    animation: fade-in 0.4s forwards;
}

.barraaberta {
    animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
    0% {left: -40%;}
    100% {left: 40%;}
}

@keyframes slide-out {
    0% {left: 40%;}
    100% {left: -40%;}
    }


#barra-de-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.2vh);
    z-index: 9999;
}

#conteudo-janela-menu {
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: column;
      left: 40%;
      transform: translate(-50%, -50%);
      background-color: #ffffffdd;
      padding: 0.2vh;
      height: 100%;
      width: 80%;
      text-align: start;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2vh;
      border-radius: 0 4vh 0 0;
}

.buttonsmenu {
    width: 100%;
    height: 100%;
    border: none;
    text-align: start;
    font-size: 2vh;
    padding: 2vh 0 1vh 2vh;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
}

.iconsmenu {
padding-right: 1.4vh;
height: 2vh;
}

.menu1 {
    display: flex;
    height: 8vh;
    margin-bottom: 2vh;
}

#nomeusuario {
    font-size: 2vh; 
    font-weight: 600;
    margin: 1vh 0 0 0;
}

#cargousuario {
    font-size: 1.5vh;
}

#verperfil {
    font-size: 1.3vh; 
    color: #7e7e7e;
}

.div-info-usuario {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    padding-top: 1vh;
}

.botaoperfilimg2 {
    width: auto;
    height: 5vh;
    border-radius: 6vh;
    padding: 2vh 2vh 1vh 2vh;


}

.page-login {
    width: 100%;
    height: 97vh;
    align-items: center; 
    justify-content: center; 
    display: flex;
    opacity: 0;
    animation: fade-in 0.4s forwards;
}

.conteudo-box-login {
display: flex;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
width: 40vw;
height: 60vh;
background-color: #f0f0f0;
box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
position: relative;
border-radius: 10px;
}

.voltar {
    position: absolute;
    left: 3vh;
    top: 3vh;
}

.voltar-img {
    height: 3vh;
    width: auto;
    cursor: pointer;
}

.inputs-login {
    font-size: 2.57vh;
    width: 22.7vh;
    height: 3vh;
    border-radius: 0.5vh;
    border: solid 0.2vh #747474;

}


.logo-iProfind {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5vh;
}

.msg-bem-vindo {
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3vh;
}


.desc-input-login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin-bottom: 1.2vh;
    width: -webkit-fill-available;
}

.button-entrar {
    background-color: #b7b7b7;
    border-radius: 0.5vh;
    width: -webkit-fill-available;
    height: 3.5vh;
    border: solid 0.2vh #747474;
    font-family: Arial, Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 2.57vh;
    
}

.button-entrar:hover {
    background-color: #a8a8a8
}

.button-entrar:active {
    background-color: #929292;
}

.equeci-box {
display: flex;
justify-content:left;
}

.esqueci {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    cursor: pointer;
}

.criar-conta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    cursor: pointer;
    font-weight: 600;

}

.duvida-login-img {
    right: 2vh;
    bottom: 2vh;
    position: absolute;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.container-categorias {

    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}
    
.cat-imgs {
    height: 6.5vh;
    width: 6.5vh;
    background-color: #d9d9d9;
    border-radius: 5vh;
}

.catbox {
    font-size: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1vh 0.5vh 1vh 0.5vh;
    text-align: center;
    cursor: pointer;
}

.feed {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.post-feed {
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    border-radius: 2vh 0 2vh 0;
    width: 94vw;
    height: 35vh;
    margin-bottom: 2vh;
}

.info-user-feed {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 25%;
}


.perfil-feed-img {
    height: 4vh;
    width: 4vh;
    border-radius: 3vh;
    background-color: #b1b1b1;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vh;
}

.username-feed-post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vh;

}

.prof-feed-post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vh;
}

.info-feed-post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vh;
}















@media (orientation: landscape) {
    .buttonsmenu {
        font-size: 3vh;
        padding: 2vh 0 2vh 3vh;
        border-bottom: solid 0.1vh;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .cat-imgs {
        height: 8.5vh;
        width: 8.5vh;
    }

    .catbox {
        font-size: 1.6vh;
        margin: 1vh 2.5vh 1vh 2.5vh;

    }

    .post-feed {
        width: 80vw;
    }

    #nomeusuario {
        font-size: 3vh;
        margin-top: 3vh;
    }

    #cargousuario {
        font-size: 2.2vh;
    }

    #verperfil {
        font-size: 2.2vh;
        color: #7e7e7e;
    }

    .botaoperfilimg2 {
        height: 8vh;
        margin: 2vh 2vh 2vh 2vh;
    }

    .iconsmenu {
        height: 3vh;
    }

    .menu1 {
        height: 15vh;
        margin-bottom: 0;
        padding-bottom: 4vh;
        border-bottom: solid 0.1vh;
    }

    #conteudo-janela-menu {
        width: 35%;
        left: -17.5%;
    }

    @keyframes slide-in {
        0% {left: -17.5%}
        100% {left: 17.5%}
    }

    @keyframes slide-out {
        0% {left: 17.5%}
        100% {left: -17.5%}
    }

}



@media (max-width: 420px), (orientation: portrait) {

    .poscab {
        margin-top: 0.18vh;
    }

    .cxdepesquisa {
        width: 55vw;
        height: 5vh;
        flex-shrink: 0;
        padding-left: 4w;
        padding-right: 10vw;
        font-size: 2vh;
        line-height: 4.5vh;
        text-align: center;
        text-indent: 6vw;
    }  

    .container1 ::-webkit-input-placeholder {
        color: #000;
        font-size: 2vh;
        font-weight: 600;
        line-height: 4.5vh;
    
    }

    .imglupa {
        height: 2.4vh;
    }

    .anuncio {
        width: 94vw;
    }

    .imgabrirmenu {
        height: 3.6vh;
        top: 0vh;
    }

    .botaoperfilimg {

        height: 5vh;
    }

    .botaoperfil {
        height: 5vh;
    }
}

@media (max-width: 800px), (orientation: portrait) {
    .conteudo-box-login {
        width: 92vw;
        height: 45vh;
        border-radius: 20px;
    }
    
    .inputs-login {
        width: 22.7vh;
        height: 3vh;
        font-size: 2vh;
        border-radius: 0.5vh;
        border: solid 0.2vh #747474;
    
    }
    
    .button-entrar {
        font-size: 2vh;
    }

    .esqueci-box {
        margin-top: 1.5vh;
    }

    .logo-iProfind {
        margin-bottom: 3vh;
    }
    }

    @media (min-width: 900px) and (orientation: landscape) {

        .botaolocal {
            font-size: 1.6vh;
        }
    
        }